<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
     
	<display-name>Online Result System 3</display-name>
	<servlet>     
		<servlet-name>MarksheetCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.MarksheetCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarksheetCtl</servlet-name>
		<url-pattern>/ctl/MarksheetCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MarksheetListCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.MarksheetListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarksheetListCtl</servlet-name>
		<url-pattern>/ctl/MarksheetListCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetMarksheetCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.GetMarksheetCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetMarksheetCtl</servlet-name>
		<url-pattern>/ctl/GetMarksheetCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.UserCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCtl</servlet-name>
		<url-pattern>/ctl/UserCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserListCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.UserListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserListCtl</servlet-name>
		<url-pattern>/ctl/UserListCtl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserRegistrationCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.UserRegistrationCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistrationCtl</servlet-name>
		<url-pattern>/UserRegistrationCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.LoginCtl</servlet-class>
	</servlet>
	<servlet-mapping>    
		<servlet-name>LoginCtl</servlet-name>
		<url-pattern>/LoginCtl</url-pattern>
	</servlet-mapping>          
	<servlet>
		<servlet-name>WelcomeCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.WelcomeCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeCtl</servlet-name>
		<url-pattern>/WelcomeCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CollegeCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.CollegeCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CollegeCtl</servlet-name>
		<url-pattern>/ctl/CollegeCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CollegeListCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.CollegeListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CollegeListCtl</servlet-name>
		<url-pattern>/ctl/CollegeListCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StudentCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.StudentCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentCtl</servlet-name>
		<url-pattern>/ctl/StudentCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StudentListCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.StudentListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentListCtl</servlet-name>
		<url-pattern>/ctl/StudentListCtl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RoleCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.RoleCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleCtl</servlet-name>
		<url-pattern>/ctl/RoleCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RoleListCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.RoleListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleListCtl</servlet-name>
		<url-pattern>/ctl/RoleListCtl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ChangePasswordCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.ChangePasswordCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordCtl</servlet-name>
		<url-pattern>/ctl/ChangePasswordCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyProfileCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.MyProfileCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyProfileCtl</servlet-name>
		<url-pattern>/ctl/MyProfileCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForgetPasswordCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.ForgetPasswordCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgetPasswordCtl</servlet-name>
		<url-pattern>/ForgetPasswordCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MarksheetMeritListCtl</servlet-name>
		<servlet-class>in.co.sunrays.proj3.controller.MarksheetMeritListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarksheetMeritListCtl</servlet-name>
		<url-pattern>/ctl/MarksheetMeritListCtl</url-pattern>
	</servlet-mapping>
	   
	<filter>
		<filter-name>FrontCtl</filter-name>
		<filter-class>in.co.sunrays.proj3.controller.FrontController</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>FrontCtl</filter-name>
		<url-pattern>/ctl/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>




</web-app>